<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Payment Page</title>
</head>
<body>
    <center>
        <h1>Please do not refresh this page...</h1>
    </center>
    <form method="post" 
    action="<%= result.url %>"
     name="paytm">
        <table border="1">
            <tbody>
                <input type="hidden" name="mid" value="<%=result.mid%>">
                    <input type="hidden" name="orderId" value="<%=result.orderId%>">    
                    <input type="hidden" name="txnToken" value="<%=result.txn%>">
         </tbody>
      </table>
                    <script type="text/javascript"> document.paytm.submit(); </script>
   </form>
</body>
</html>
